@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    overflow-x: hidden;
    @apply tracking-wide;
    @apply dark:bg-gray-800 bg-white dark:text-slate-200;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  button {
    @apply shadow-sm shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#01ec83] to-[#64c499] text-black;
  }
  li {
    @apply text-black dark:text-white uppercase;
  }
}

.tgradient {
  /** TEXT GRADIENT */
  color: #e91e63;
  background-image: -webkit-linear-gradient(45deg, #e91e63 38%, #312eff 67%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.servGrad {
  color: #ff5722;
  background-image: -webkit-linear-gradient(
    0deg,
    #ff5722 0%,
    #7f27ff 50%,
    #0004ff 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
