@import "tailwindcss";

:root {
  --background: white;
  --foreground: black;
}

[data-theme="dark"] {
  --background: black;
  --foreground: white;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    overflow-x: hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  button {
    @apply shadow-sm shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#14A800] to-[#14A800] text-black;
  }
  li {
    @apply text-black dark:text-white uppercase;
  }
}
